<div class="container">
    <h4><a class="logo" [routerLink]="['']" routerLinkActive="active text-primary" [routerLinkActiveOptions]="{exact: true}">AngularApp</a></h4>
    <nav>
        <ul>
            <li><a class="current-page" [routerLink]="['ngstyle']" routerLinkActive="active text-primary">NgStyle</a></li>
            <li><a [routerLink]="['todo']" routerLinkActive="active text-primary" >Todo</a></li>
            <li><a [routerLink]="['word']" routerLinkActive="active text-primary" >Word</a></li>
            <li><a [routerLink]="['ngclass']" routerLinkActive="active text-primary" >NgClass</a></li>
        </ul>
    </nav>
</div>