<div class="row">
    <div class="col mb-2 mt-3">
        <ol class="list-group">
            <li *ngFor="let todo of todos" class="list-group-item">
                {{todo.name}}: {{todo.content}}
                 <i (click)="deleteTodo(todo)" class="bi bi-trash2" ></i>
            </li>
        </ol>
    </div>
    <div class="col mb-3">
        name:    <input type="text" class="form-control" [(ngModel)]="todo.name" >
        content: <input type="text" class="form-control" [(ngModel)]="todo.content">
        <button (click)="addTodo()" class="btn btn-success mt-2">Add todo</button>
    </div>
</div>
  

